<!DOCTYPE html>
<html ng-app="task-app">
    <head>
        <title>Task Schedule Admin</title>
        <meta charset="UTF-8"/>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link href="//cdn.bootcss.com/flat-ui/2.3.0/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="//cdn.bootcss.com/flat-ui/2.3.0/css/flat-ui.min.css" rel="stylesheet">
        <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body ng-controller="taskCtrl">
    <h1>Task Schedule Platform</h1>

    <p>Gr100 task schedule platform admin</p>

    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-list"></i> Events <button class="btn btn-xs btn-warning" ng-click="reload()"><i class="fa fa-refresh"></i> Reload</button>
            <span class="text-success btn-xs">Last Fresh Time:{{lastRefreshTime | date : 'yyyy-MM-dd hh:mm:ss'}}</span>
            <div class="pull-right">
                <button class="btn btn-xs btn-primary" ng-click="action('start')"><i class="fa fa-play"></i> StartAll</button>
                <button class="btn btn-xs btn-danger" ng-click="action('stop')"><i class="fa fa-pause"></i> StopAll</button>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tr>
                    <th>ID</th>
                    <th>Job</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Count</th>
                    <th>LastExecuteTime</th>
                    <th>FailCount</th>
                    <th>Cron</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="t in tasks">
                    <td>{{t.id}}</td>
                    <td>{{t.job}}</td>
                    <td>{{t.type}}</td>
                    <td>{{t.status | task_status}}</td>
                    <td>{{t.count}}</td>
                    <td>{{t.last_execute_time | date : 'yyyy-MM-dd hh:mm:ss'}}</td>
                    <td>{{t.fail_count}}</td>
                    <td>{{t.cron}}</td>
                    <td>
                        <button ng-if="t.autorun == 0" class="btn btn-xs btn-primary" ng-click="action('start',$index)"><i class="fa fa-play"></i></button>
                        <button ng-if="t.autorun == 1" class="btn btn-xs btn-danger" ng-click="action('stop',$index)"><i class="fa fa-pause"></i></button>
                        <button ng-if="t.status == 99" class="btn btn-xs btn-default" ng-click="reset(t)"><i class="fa fa-refresh"></i></button>
                    </td>
                </tr>
            </table>
            <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#modal-create"><i class="fa fa-plus"></i> Create</button>
        </div>
    </div>


    <div class="modal" id="modal-create" tabindex="-1" role="dialog" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h6 class="modal-title">Create New Event</h6>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="event-type" class="col-sm-2 control-label">Type</label>
                            <div class="col-sm-6">
                                <select class="form-control" name="type" id="event-type" ng-model="event.type">
                                    <option value="web">WEB</option>
                                    <option value="local">LOCAL</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="event-cron" class="col-sm-2 control-label">CRON</label>
                            <div class="col-sm-6">
                                <input type="text" name="cron" class="form-control" id="event-cron" placeholder="CRON" ng-model="event.cron">
                            </div>
                            <div class="col-sm-4">
                                <a class="" target="_blank" href="https://github.com/node-schedule/node-schedule#jobs-and-scheduling">CRON <i class="fa fa-question-circle-o"></i></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">AutoRun</label>
                            <div class="col-sm-6">
                                <label class="checkbox checked" for="event-autorun"><span class="icon"></span><span class="icon-to-fade"></span>
                                    <input type="checkbox" checked="checked" value="1" id="event-autorun" ng-model="event.autorun">ON
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="event-job" class="col-sm-2 control-label">CRON</label>
                            <div class="col-sm-10">
                                <textarea name="job" class="form-control" id="event-job" placeholder="http://api.hook.com" ng-model="event.job"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-primary" ng-click="save()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="//cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//cdn.bootcss.com/angular.js/1.5.6/angular.min.js"></script>
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/javascripts/app.js"></script>
    </body>
</html>
